.main-footer {
	background-color: $primary-color;
	text-align: center;
	padding-top: 40px;
	&__icon {
		background: url('../images/icn/footer-sprite.png');
		display: inline-block;
		width: 40px;
		height: 40px;
		margin: 0 10px 50px;
		&--fb {
			background-position: 0px 0px;
		}
		&--tw {
			background-position: 0px -50px;
		}
		&--g {
			background-position: 0px -100px;
		}
		@media(max-width: 1023px ) {
	    margin: 0 10% 50px;;
	  }
	}
}
.secundary-footer {
	background-color: $secundary-footer;
	padding: 0.7142em 0;
	&__description {
		color: $secundary-color;
		font-size: 0.8571rem;
	}
}
.main-nav {
	&__list {
		padding: 0;
	}
	&--position {
		float: none;
		margin-bottom: 30px;
	}
	&--display {
		@media(max-width: 1070px ) {
	    display: inline-block !important;
	  }
	}
	&__item {
		&--display {
			@media(max-width: 1023px ) {
		    display: block !important;
		    margin-bottom: 40px;
		  }
		}
	}
}
