body {
	font-family: 'Helvetica Neue';
	font-size: 14px;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style: none;
}

.primary-btn {
	color: $secundary-color;
	border-top: 3px solid $primary-color; 
	border-bottom: 3px solid $primary2-color;
	border-radius: $border-button;
	font-size: 1.2857rem;
	padding: 0.5714em 0;
	background-color: $primary-color;
	display: inline-block;
	text-align: center;
	width: 240px;
	margin-bottom: 15px;
	&:hover {
		background-color: $primary2-color;
		border-top: 3px solid $primary2-color; 
		border-bottom: 3px solid $primary-color;
	}
}

.secundary-btn {
	color: $secundary-color;
	border: 2px solid $secundary-color;
	border-radius: $border-button;
	font-size: 1.2857rem;
	padding: 0.5714em 0;
	display: inline-block;
	text-align: center;
	width: 240px;
	margin-bottom: 15px;
}
