
$white:					#fff;
$light-green:			#38CD8A;
$green:					#269362;
$second-green:			#36C484;
$gray:					#4A4A4A;
$light-blue:			#2797FF;
$blue:					#2276C4;


$primary-color:			$light-green;
$primary2-color:		$green;
$secundary-footer:		$second-green;
$secundary-color: 		$white;
$text-color: 			$gray;
$subscribe-color:		$light-blue;
$subscribe2-color:		$blue;
